# Environments
.env
.env.local
.venv
env/
venv/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Python/Django
__pycache__/
*.py[cod]
*.class
*.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db
